@import "tailwindcss";

@font-face {
    font-family: gil-med;
    src: url(/fonts/Gilroy-Medium.ttf);
}

@theme {
    --color-primary-btn: #222836;
    --color-sec-btn: #1A73E8;
    --color-primary-text: #222836;
    --color-sec-text: #191d249d;

}

.grad {
    background: rgb(146,199,237);
background: radial-gradient(circle, #b2ccff98 68%, rgba(255,255,255,1) 90%);
    backdrop-filter: blur(1400px)
}



* {

    font-family: gil-med;
}